.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image:  url(./assets/video_background.svg);
  background-size: cover;
  background-color: #24012D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HackGT-logo {
  background-size: 50%;
  position: absolute;
  width: 10%;
  height: auto;
  left: 20pt;
  top: 18pt;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/Roboto-Black.ttf)
}

.Video-title {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 6pt;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 82px;
  text-align: center;
  color: #FFFFFF;
}
