/* General styling */
@font-face {
  font-family: 'Roboto';
  src: url(./assets/Roboto-Regular.ttf)
}

.app_main {
  text-align: center;
  background-color: rgb(245, 245, 245);
}


/* Logo Styling */
.logo_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_title {
  padding-left: 1rem;
  font-size: 1.9rem;
  user-select: none;
  color: black;
  font-weight: 500
}

/* Navbar Styling */
.navbar {
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px 5%;
  display: grid;
  grid-template-columns: 1fr auto;
  box-shadow: 0 8px 4px -4px gray;
  margin-bottom: 10px;
}

.navbar_right {
  display: flex;
  align-items: center;
  width: fit-content;
}

.navbar_link {
  padding-left: 40px;
}

.navbar_link_text {
  color: black;
  font-weight: 400;
}

.navbar_link_text_bold {
  color: black;
  font-weight: 500;
}

.navbar_button {
  margin-left: 40px;
}

/* Main Stage */
.main_stage_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
}

.main_stage_placeholder {
  background-color: #C4C4C4;
  height: 600px;
  width: 100%;
}

.main_stage_content {
  padding: 20px;
  width: 100%;
}

/* Card Tag */
.card_tag {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
  border:1px black;
  background-color: #E6E6E6;
  padding: 8px;
  border-radius: 5px;
}

/* Card Img */
.card_img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Live Events List */
.live_event_title {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

.live_event_image {
  height: 100%;
  width: auto;
}

.live_event_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.live_event_card {
  width: 45%;
  height: 100%;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.live_events {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
}

.live_event_card_actions {
  margin-top: 10px;
}

/* Live Events List */
.upcoming_events_title {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

.upcoming_events_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.upcoming_events_card {
  width: 26%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.upcoming_events {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* Schedule */
.schedule {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
}

.schedule_title {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

.schedule_table {
  margin-bottom: 30px;
}

/* All events */
.all_events {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
  margin-bottom: 20px;
}

.all_events_title {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

.all_events_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.all_events_card {
  width: 26%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.all_events_filter_text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

.all_events_filter_dropdown {
  width: 20%;
}

.all_events_filter_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* Block Collection */
.block_title_container {
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 60px;
}

.block_title {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

.blocks_card {
  width: 45%;
  height: 100%;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.block_card_text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: black;
  margin: 10px;
  text-align: left;
}

.block_card_title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 10px;
  text-align: left;
}

.block_card_container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

/* Prizes */

.prize_title_container {
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 60px;
}

.prize_title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

/* Footer */

footer {
  color: #FFFFFF;
  margin: var(--base-unit-4);
  box-shadow: 0 -8px 4px 0px gray;
  margin-top: 100px;
  padding-bottom: 20px;
}

.footer_socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.footer_text_hex {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
  text-align: left;
}

.footer_text_mlh {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
  text-align: left;
  margin-bottom: 50px;
}

.footer_container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  margin-left: 2px;
  margin-right: 2px;
}
