@font-face {
  font-family: "Bavro-Regular";
  src: url("./assets/fonts/Bavro-Regular.eot");
  src: url("./assets/fonts/Bavro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Bavro-Regular.svg#Bavro-Regular") format("svg"),
    url("./assets/fonts/Bavro-Regular.ttf") format("truetype"),
    url("./assets/fonts/Bavro-Regular.woff") format("woff"),
    url("./assets/fonts/Bavro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color-1: white;
  --primary-color-2: white;
  --primary-font: "Bavro-Regular", "sans-serif";
  --secondary-font: "Quicksand", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}

.link {
  position: relative;
  z-index: 100;
  height: 10vw;
  width: 100%;
}

#joinLink {
  position: relative;
  font-size: 10px;
  height: 100%;
  width: 100%;
  z-index: 100;
  color: black;
}

body {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color-2);
  background: linear-gradient(180deg, #658aae 0%, #8bc2b9 100%);
  background-repeat: no-repeat;
  height: 70%;
  position: relative;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.nav {
  padding-top: 3rem;
  display: flex;
  width: 100%;
  align-items: center;
}

.nav .back-button {
  text-align: center;
  font-size: 20px;
  width: 30%;
  padding-left: 5%;
}

.nav .title {
  font-family: var(--primary-font);
  font-size: 32px;
  text-align: center;
  width: 50%;
}

.nav .points {
  width: 40%;
  height: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.nav .points .points-text {
  font-size: 20px;
}

.nav .points .points-number {
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  font-size: 12.5px;
  height: 100%;
  width: 25%;
}

.container .workshops {
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  margin-top: 1rem;
  right: 7.5%;
  z-index: 100;
  height: 25%;
  width: 25%;
  overflow-y: auto;
  padding: 1rem;
}

.container .workshops .workshop-elem {
  height: 30%;
  width: 100%;
  padding-top: 0.5rem;
  color: #658aae;
  display: flex;
  cursor: pointer;
}

.workshop-elem:hover {
  background-color: lightblue;
}

.workshop-name {
  text-align: left;
  width: 80%;
}

.workshop-points {
  text-align: right;
  width: 20%;
}

.body {
  display: flex;
  padding-top: 2%;
  height: 40%;
  justify-content: center;
  gap: 5%;
  margin-top: 5vw;
}

.body .workshop {
  background-color: white;
  width: 40%;
  height: 100%;
}

.body .workshop .title {
  height: 10%;
  color: #658aae;
  padding-left: 1rem;
  padding-top: 0.5rem;
  background-color: white;
}

.body .workshop #description {
  color: #658aae;
  height: 90%;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.body .video {
  width: 30%;
  height: 100%;
}

.body .video .title {
  height: 10%;
  color: #658aae;
  padding-left: 1rem;
  padding-top: 0.5rem;
  background-color: white;
}

.body .video .video-body {
  width: 100%;
  position: relative;
}

.body .video .video-body #localVideo {
  width: 100%;
  height: 100%;
}

.join-container {
  display: flex;
  align-items: center;
}

.join-event {
  border: none;
  background-color: white;
  color: #658aae;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5rem;
  font-size: 1rem;
  margin-top: 6vw;
  margin-left: auto;
  margin-right: auto;
  height: 2vw;
  width: 9vw;
}

.bottom-design {
  background-image: url("assets/about-long-glow.png");
  background-size: 70%;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.points-number {
  cursor: pointer;
}

#form-chris {
  position: relative;
  z-index: 100;
}

.link {
  display: none;
}

.container #form {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .join-event {
    height: 3vw;
    width: 10vw;
  }

  .body .video .video-body #localVideo {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    height: 125vh;
  }

  .join-event {
    margin-top: 20vw;
    height: 3vw;
    width: 15vw;
  }

  .body {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    height: 50%;
    justify-content: center;
    gap: 5%;
    margin-top: 2vw;
  }

  .body .workshop {
    background-color: white;
    width: 80%;
    margin: auto;
    height: 50%;
  }

  .body .workshop .title {
    height: 10%;
    width: 100%;
    color: #658aae;
    padding-left: 1rem;
    padding-top: 0.5rem;
    background-color: white;
  }

  .body .workshop #description {
    color: #658aae;
    height: 90%;
    width: 100%;
    background-color: white;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }

  .body .video {
    width: 50%;
    height: 50%;
    margin: auto;
  }

  .body .video .title {
    height: 10%;
    color: #658aae;
    padding-left: 1rem;
    padding-top: 0.5rem;
    background-color: white;
  }

  .body .video .video-body {
    width: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 715px) {
  .join-event {
    height: 5vw;
    width: 20vw;
  }
  .bottom-design {
    background-image: url("assets/about-long-glow.png");
    background-size: 70%;
    height: 8%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (max-width: 600px) {

  .body .video {
    width: 60%;
    height: 50%;
    margin: auto;
  }

  .body .video .title {
    height: 10%;
    color: #658aae;
    padding-left: 1rem;
    padding-top: 0.5rem;
    background-color: white;
  }

  .body .video .video-body {
    width: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 500px) {
  .body .video {
    width: 80%;
  }
  .nav .title {
    font-family: var(--primary-font);
    font-size: 16px;
    text-align: center;
    width: 50%;
  }

  .nav .back-button {
    text-align: center;
    font-size: 16px;
    width: 30%;
    padding-left: 5%;
  }

  .nav .points .points-text {
    display: none;
  }

  .nav .points .points-number {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    height: 100%;
    width: 50%;
  }

  .join-event {
	  width: 35vw;
	  height: 10vw;
  }
}

@media only screen and (max-width: 400px) {
  .nav .title {
    font-family: var(--primary-font);
    font-size: 16px;
    text-align: center;
    width: 50%;
  }

  .join-event {
	  width: 35vw;
	  height: 10vw;
  }
}
